<!DOCTYPE html>
<html>

<head>
<title> modify </title>
<link rel="stylesheet" href="/css/style2.css" />
</head>

<body>

<div id= "header">
	
</div>
<div>
	<div id="child1">
		<h2 style=" text-align:center"> Select Match Name to Update</h2>

				<script>
{{#if errors}}
    {{#each errors}}
    <div>
        {{msg}}
    <a href="#close"></a>
    </div>
    {{/each}}
{{/if}}
			</script>


  <table id="center1">
      <tr>
          <h3>
          <th colspan="2"> Date  </th>
          <th colspan="2"> Match name  </th>
          <th colspan="2"> Event name  </th>
          <th colspan="2"> Team 1  </th>
          <th colspan="2"> Team 2  </th>
          <th colspan="2"> Venue  </th>
          </h3>
      </tr>
      {{#each modifyevents}}
      <tr>
          <td colspan="2"> {{Date}} </td>
          <td colspan="2"> {{Match_name}} </td>
          <td colspan="2"> {{Event_name}} </td>
          <td colspan="2"> {{Team1}} </td>
          <td colspan="2"> {{Team2}} </td>
          <td colspan="2"> {{Venue}} </td>
      </tr>
      {{/each}}
  </table>
  
    <div id = "center1">
<form method="post" action="/events/updateEvents">
<div>
    
   <input type="Date" placeholder="Enter Date" name="Date">
</div>
<div>
    <select name="Match_name">
    <!--input type="text" placeholder="Match_name" name="Match_name"-->
    {{#each modifyevents}}
    <option value={{Match_name}}>{{Match_name}}</option>
    {{/each}}
    </select>
</div>
<div>
    
    <input type="text" placeholder="Event name" name="Event_name">
</div>
<div>
     
    <input type="text" placeholder="Enter Team 1" name="Team1">
</div>
<div>
    
    <input type="text" placeholder="Enter Team 2" name="Team2">
</div>
<div>
    
    <input type="text" placeholder="Enter Venue" name="Venue">
</div>
<button type="submit">Submit</button>
</form>
    </div>
</div>
</div>


<div id="footer">
&copy; 2017 Web Programming Project
</div>		
</body>		

</html>